:root {
    --primary-blue: #007bff;
    --dark-blue: #0056b3;
    --light-gray: #f8f9fa;
    --medium-gray: #6c757d;
    --dark-gray: #343a40;
    --black: #000000;
    --white: #ffffff;
    --background-color: #faf6f3;
    --accent-pink: #ffd1dc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--dark-gray);
    background-color: var(--background-color);
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-blue);
}

.nav-links, .nav-contact {
    display: flex;
    align-items: center;
}

.nav-links a, .nav-contact a {
    margin-right: 1rem;
    text-decoration: none;
    color: var(--dark-gray);
    transition: color 0.3s ease;
}

.nav-links a:hover, .nav-contact a:hover {
    color: var(--primary-blue);
}

.cta-button {
    background-color: var(--primary-blue);
    color: var(--white);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--dark-blue);
}

/* Main Section Styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 5%;
    max-width: 1200px;
    margin: 0 auto;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.profile-text {
    max-width: 300px;
}

.job-description {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-icons .social-icon {
    color: var(--dark-gray);
    text-decoration: none;
    font-size: 18px;
}


.social-icons .social-icon:hover {
    color: var(--primary-blue);
}

.profile-image-container {
    position: relative;
    width: 300px;
    height: 300px;
}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 50%;
    background: linear-gradient(to bottom right, var(--primary-blue), var(--background-color));
    z-index: -1;
}

.profile-image img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-name {
    text-align: center;
}

.profile-name h1 {
    font-size: 36px;
    margin: 0;
    font-weight: 700;
    color: var(--dark-gray);
}

.profile-name p {
    margin: 5px 0;
    font-size: 14px;
    color: var(--medium-gray);
}


/* Other Section Styles */
section {
    background-color: var(--white);
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    width: 100%;
}


section:hover {
    transform: translateY(-5px);
}

h2 {
    color: var(--primary-blue);
    border-bottom: 2px solid var(--primary-blue);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

h3 {
    color: var(--dark-gray);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

ul {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

/* Footer Styles */
footer {
    background-color: var(--dark-gray);
    color: var(--white);
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

header, main {
    animation: fadeIn 1s ease-in-out;
}

section {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    .nav-links, .nav-contact {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: var(--light-gray);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        animation: fadeIn 0.5s ease-in-out;
    }

    .nav-links.active, .nav-contact.active {
        display: flex;
    }

    .nav-links a, .nav-contact a {
        margin: 0.5rem 0;
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
        border-bottom: 1px solid var(--medium-gray);
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        background-color: var(--primary-blue);
        color: var(--white);
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .menu-toggle:hover {
        background-color: var(--dark-blue);
    }

    .profile-image-container {
        width: 200px;
        height: 200px;
    }
    .job-description {
        text-align: center;
    }
    
}

@media (min-width: 769px) {
    .menu-toggle {
        display: none;
    }

    .nav-links, .nav-contact {
        display: flex !important;
    }
}